<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Author form</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" media="all" />
</head>
<body>

<form th:action="@{/author/add}" th:object="${author}" method="post">

    <input type="hidden" th:field="${author.book.id}"
           th:value="${author.book.id}" />
    
    <div>
        <label th:class="${#fields.hasErrors('name') ? 'error-text' : ''}"
               for="name">Author' name:</label><br/>

        <input
                th:field="${author.name}"
                type="text"
                id="name"
                name="name"
                th:class="${#fields.hasErrors('name') ? 'error' : ''}"/>

        <p
                th:class="${#fields.hasErrors('name') ? 'error-text' : ''}"
                th:if="${#fields.hasErrors('name')}"
                th:errors="${author.name}"></p>
    </div>

    <div>
        <label th:class="${#fields.hasErrors('surname') ? 'error-text' : ''}"
               for="surname">Author' surname:</label><br/>
        <input
                th:field="${author.surname}"
                type="text"
                id="surname"
                name="surname"
                th:class="${#fields.hasErrors('surname') ? 'error' : ''}"
        />

        <p th:class="${#fields.hasErrors('surname') ? 'error-text' : ''}"
           th:if="${#fields.hasErrors('surname')}"
           th:errors="${author.surname}"></p>

    </div>

    <div>
        <input type="submit" name="submit" value="Add" />
    </div>
</form>

</body>
</html>