<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Book form</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" media="all" />
</head>
<body>

<form th:action="@{/book/add}" th:object="${book}" method="post">

    <input type="hidden" th:field="${book.id}" th:value="${book.id}" />

    <div>
        <label th:class="${#fields.hasErrors('isbn.code') ? 'error-text' : ''}"
               for="isbn">ISBN:</label><br/>

        <input
                th:field="${book.isbn.code}"
                type="text"
                id="isbn"
                name="isbn"
                th:class="${#fields.hasErrors('isbn.code') ? 'error' : ''}"/>

        <p
                th:class="${#fields.hasErrors('isbn.code') ? 'error-text' : ''}"
                th:if="${#fields.hasErrors('isbn.code')}"
                th:errors="${book.isbn.code}"></p>
    </div>

    <div>
        <label th:class="${#fields.hasErrors('title') ? 'error-text' : ''}"
               for="title">Title:</label><br/>

        <input
                th:field="${book.title}"
                type="text"
                id="title"
                name="title"
                th:class="${#fields.hasErrors('title') ? 'error' : ''}"/>

        <p
                th:class="${#fields.hasErrors('title') ? 'error-text' : ''}"
                th:if="${#fields.hasErrors('title')}"
                th:errors="${book.title}"></p>
    </div>

    <div>
        <label th:class="${#fields.hasErrors('price') ? 'error-text' : ''}"
               for="price">Price:</label><br/>
        <input
                th:field="${book.price}"
                type="number"
                id="price"
                name="price"
                th:class="${#fields.hasErrors('price') ? 'error' : ''}"
        />

        <p th:class="${#fields.hasErrors('price') ? 'error-text' : ''}"
           th:if="${#fields.hasErrors('price')}"
           th:errors="${book.price}"></p>

    </div>

    <div>
        <label th:class="${#fields.hasErrors('genre.id') ? 'error-text' : ''}"
               for="price">Genre:</label><br/>

        <select class="form-control" th:field="${book.genre.id}"  id="genre">
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
        </select>
    </div>

    <div>
        <input type="submit" name="submit" value="Add" />
    </div>
</form>

</body>
</html>