<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book form</title>
</head>
<body>

<h1>List of books</h1>


<form method="get" th:action="@{/search}">
    <input type="text" th:value="${searchQuery != null} ? ${searchQuery} : ''" name="query" id="query" />
    <input type="submit" value="Szukaj" />
    <a th:href="@{/book}" class="btn btn-default"><strong>Clear search</strong></a>
</form>
<br />

<a th:href="@{/book/add}"><strong>Add new</strong></a>
<br />
<div th:if="${#lists.size(list) == 0}">
    <strong>Brak wyników</strong>
</div>
<div th:if="${#lists.size(list) > 0}">
    <h2>Table</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>ISBN</th>
            <th>Title</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Authors</th>
            <th>Actions</th>
        </tr>
        <tr th:each="b : ${list}">
            <td th:text="${b.id}">ID</td>
            <td th:text="${b.isbn.code}">ISBN</td>
            <td th:text="${b.title}">Title</td>
            <td th:text="${b.price}">Price</td>
            <td th:text="${b.genre.name}">Genre</td>
            <td>
                <ul>
                    <li th:each="a : ${b.authors}">
                        <span th:text="${a.name}"></span>
                        <span th:text="${a.surname}"></span>
                    </li>
                </ul>
            </td>
            <td>
                <p><a th:href="@{/book/{id}(id=${b.id})}">Details</a> -
                <a th:href="@{/book/remove/{id}(id=${b.id})}">Remove</a> -
                <a th:href="@{/book/edit/{id}(id=${b.id})}">Edit</a> -
                <a th:href="@{/author/add/{bookId}(bookId=${b.id})}">Add author</a></p>
            </td>
        </tr>
    </table>

    <h2>List</h2>

    <ul>
        <li th:each="b : ${list}">
            <span th:text="${b.title}" /> -(<span th:text="${b.price}" />)
        </li>
    </ul>
</div>

</body>
</html>